@config '../tailwind.config.js';
@import 'bootstrap';
@import 'datatables.net-bs5';
@import 'datatables.net-buttons-bs5';
@import 'datatables.net-responsive-bs5';
@import 'datatables.net-rowgroup-bs5';
@import 'datatables.net-columncontrol-bs5';
@import 'tailwindcss';

@theme {
  --animate-loader: loader 1s linear infinite;

  @keyframes loader {
    from {
      background-position: 100% 0;
    }
    to {
      background-position: 0 0;
    }
  }
}

html,
body {
  @apply overflow-x-hidden;
  @apply p-0;
  @apply m-0;
  @apply w-screen;
  @apply max-w-[100vw];
  @apply min-w-[100vw];
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  @apply text-inherit;
  @apply no-underline;
  @apply break-normal!;
  @apply focus:outline-none;
  @apply focus:shadow-none;
  @apply focus:border-none;
}

button {
  @apply focus:outline-none;
  @apply focus:shadow-none;
  @apply focus:border-none;
}

span {
  @apply break-normal!;
}

p,
li {
  @apply font-roboto;
  @apply text-lg;
  @apply max-s500:text-base;
  @apply max-s768:text-base;
  @apply max-s992:text-base;
  @apply break-normal!;
}

p {
  @apply pb-1;
}

pre.shiki {
  @apply rounded-none!;
  @apply m-0!;
  @apply transition-none!;
  @apply duration-0!;
  @apply max-w-full!;
  @apply w-full!;
}

table {
  @apply w-full;
  @apply max-w-full;
  @apply min-w-full;
  @apply overflow-x-scroll;
}

.shiki code {
  @apply block!;
}

pre.shiki * {
  @apply transition-none!;
  @apply duration-0!;
}

.dtcc-search input {
  @apply py-1!;
  @apply px-2!;
}

.dtcc-search-type-icon,
.dtcc-search-type-icon + select {
  @apply hidden!;
  @apply pointer-events-none!;
}

.dt-highlight {
  @apply bg-amber-400;
  @apply text-palette-black;
  @apply p-0;
}

h1,
h2,
h3,
h4 {
  @apply text-ui-white;
  @apply font-roboto;
  @apply break-normal!;
  @apply font-semibold!;
}

h1 {
  @apply text-5xl;
  @apply max-s500:text-2xl;
  @apply max-s768:text-3xl;
  @apply max-s992:text-4xl;
  @apply border-b-6;
  @apply border-palette-red;
  border-image: linear-gradient(to right, #a62a1e 144px, transparent 144px);
  border-image-slice: 1;
  @apply pb-1;
  @apply mb-8;
  @apply mt-4;
}

h2 {
  @apply text-4xl;
  @apply max-s500:text-2xl;
  @apply max-s768:text-2xl;
  @apply max-s992:text-3xl;
  @apply mb-2;
  @apply mt-4;
}

h3 {
  @apply text-2xl;
  @apply max-s500:text-xl;
  @apply max-s768:text-xl;
  @apply max-s992:text-2xl;
  @apply mb-2;
  @apply mt-4;
}

h4 {
  @apply text-xl;
  @apply max-s500:text-lg;
  @apply max-s768:text-lg;
  @apply max-s992:text-xl;
  @apply mb-2;
  @apply mt-4;
}

.dt-container .highlight {
  @apply bg-[rgba(255,229,54,0.35)];
  @apply text-palette-black;
}

.group-header,
.group-summary {
  @apply shadow-none!;
  @apply bg-transparent!;
}

.group-header td {
  @apply shadow-none!;
  @apply bg-[rgba(51,80,117,0.5)]!;
  @apply text-palette-lite-grey!;
}

.group-summary td {
  @apply shadow-none!;
  @apply bg-[rgba(56,65,77,0.5)]!;
  @apply text-palette-lite-grey!;
}

.dt-column-title {
  @apply inline-flex!;
  @apply items-center!;
  @apply whitespace-nowrap!;
  @apply justify-start;
}

.dt-type-numeric .dt-column-title {
  @apply justify-end;
}

* {
  box-sizing: border-box;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    box-shadow, box-shadow-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 800ms;
}
